.header {
  text-align: center;
  &__inner {
    border-bottom: 1px solid #E0DFDE;
    padding: 20px 0;
  }
  &__logo {
    font-size: 40px;
    color: #8b7969;
    text-decoration: none;
  }
}
.footer {
  margin-bottom: 33px;
}