main {
  display: grid;
  grid-template-columns: 66px 1fr 66px;
  grid-template-rows: 1fr;
  font-family: 'Inika';
}
.thanks {
  &__header {
    grid-column: 2;
    grid-row: 1;
    justify-self: center;
    align-self: center;
    color: rgba($color: #8B7969, $alpha: 0.05);
    font-size: 280px;
    font-family: 'Inika';
    font-weight: 400;
    padding: 0;
    margin: 0;
  }
  &__content {
    text-align: center;
    grid-column: 2;
    grid-row: 1;
    justify-self: center;
    align-self: center;
    font-family: 'Inika';
    color: #8B7969;
    font-size: 30px;
    font-weight: 700;
    a {
      text-decoration: none;
      color: #fff;
      padding: 10px 40px;
      background-color: #82756a;
      font-size: 20px;
      font-family: 'Inika';
    }
    a:hover {
      opacity: .75;
    }
  }
}